SERVER_URL=http://localhost:4440
#JAAS_CONF=/opt/rundeck-defaults/jaas-loginmodule-multiauth.conf
#LOGIN_MODULE=multiauth
#LDAP_PROVIDER_URL=...
#LDAP_BIND_DN=...
#LDAP_BIND_PASSWORD=...
#LDAP_USER_BASE_DN=...
#LDAP_ROLE_BASE_DN=...
